@media (max-width: 1200px)  {
  .container {
    max-width: 824px;
  }
  .header-bottom > span {
    display: none;
  }
  .header-top {
    flex-direction: column;
  }
  .header-wrapper_padding {
    padding: 3px 0 23px 0;
  }
  .header {
    position: relative;
  }
  .header {
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--light-gray-color);
  }
  .header-nav {
    margin-right: 33px;
  }
  .header-wrapper_nav-padding {
    padding-top: 20px;
  }
  .header-audio {
    margin-right: 0;
  }
  .header-btn_size {
    max-width: 150px;
    min-width: 150px;
  }
  .header-item_margin:not(:last-child) {
    margin-right: 28px;
  }
  .header-nav_margin {
    margin-right: 36px;
  }
}
